@* @{
    var labelTitle = ViewData["label-title"] as string;
    var inputType = ViewData["type"] as string;
    var idInput = ViewData["id-input"] as string;
    var placeholderInput = ViewData["placeholder-input"] as string;
}

<div class="col-sm-6">
    <label for="exampleFormControlInput1" class="form-label">@labelTitle</label>
    <input type="@inputType" class="form-control" id="@idInput" placeholder="@placeholderInput">
</div>

@{

}
<div class="col-sm-6">
    <label for="exampleFormControlInput1" class="form-label">@labelTitle</label>
    <select class="form-select" aria-label="Default select example">
        <option value="1">Si</option>
        <option value="0">No</option>
    </select>
</div> *@

@model FormFieldViewModel

@if (!string.IsNullOrEmpty(Model.IdLabel))
{
    <label id="@Model.IdLabel"
            for="@Model.Name" 
            class="@(Model.Input_IsRequired ? "required" : "") form-label"
    >@Model.Container_Label</label>
}

@if (Model.Input_Type == "select" && Model.Select_Options != null)
{
    <select id="@Model.IdInput" name="@Model.Name" class="form-select" aria-label="Default select example">
        @foreach (var option in Model.Select_Options)
        {
            <option value="@option.Key">@option.Value</option>
        }
    </select>
}
else if (Model.ColTexTarea != null || Model.RowTexTarea != null)
{
    <textarea id="@Model.IdInput"
            name="@Model.Name"
            class="form-control"
            rows="@Model.RowTexTarea"
            cols="@Model.ColTexTarea"
            placeholder="@Model.Placeholder"
            @(Model.Input_IsRequired ? "required" : "")
          @(Model.AutoComplete ? "autocomplete=on" : "autocomplete=off")>
    </textarea>
}
else
{
    if (Model.Input_Type == "file")
    {
        <input id="@Model.IdInput"
               name="@Model.Name"
               type="@Model.Input_Type"
               class="form-control"
               placeholder="@Model.Placeholder"
               @(Model.Input_IsRequired ? "required" : "")
               @(Model.AutoComplete ? "autocomplete=on" : "autocomplete=off")
               @* autocomplete="on" *@
               accept="image/png, image/jpg, image/jpeg"
               onchange=""
        />
    }
    else
    {
        <input id="@Model.IdInput"
               name="@Model.Name" 
               type="@Model.Input_Type" 
               class="form-control" 
               placeholder="@Model.Placeholder"
               @(Model.Input_IsRequired ? "required" : "")
               @(Model.AutoComplete ? "autocomplete=on" : "autocomplete=off") />
    }
}

@if (Model.Input_Type == "file")
{
    <div class="mb-2">
        <img id="@Model.IdInput" class="border rounded mx-auto d-block img-fluid"  />
    </div>
}